body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;

}



header {
    background: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.centrado {
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-content img {
    width: 100px;
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.intro {
    margin: 20px 0;
}

